<!DOCTYPE html>
<html lang="jp">
<head>
    <meta http-equiv="content-type"
          content="text/html; charset=UTF8">
    <title><%= title %></title>
    <link rel="stylesheet" 
          href="http://stackpath.bootstrap/4.4.1/css/
                bootstrap.min.css"
          crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <div role="main">
        <h2>welcom to <%= login.name %>.</h2>

        <form method="POST" action="/boards/add">
        <div class="row">
            <p><input type="text" name="msg" size="50">
                <input type="submit" value="送信"></p>
        </div>
        </form>

        <p><table style="width: 95%;">
            <% for(let i in content) { %>
                <%- include('data_item', {val:content[i]}) %>
            <% } %>
        </table></p>

        <ul class="pagintion justify-content-center">
            <li class="page-item">
                <a href="/boards/<%= page - 1 %>"
                    class="page-link">&lt;&lt; Prev</a>
            </li>

            <li class="page-item">
                <a href="/boards/<%= page + 1 %>"
                    class="page-link">Next &gt;&gt;</a>
            </li>
        </ul>
    </div>
</body>
</html>